{%if product.metafields.custom.callout_badge.value != blank%}
    <div class="callout-container">
        <span class="callout-badge" style="background-color:{{product.metafields.custom.callout_badge.value.background_color}};">
            <span class="img-badge">
            {% if product.metafields.custom.callout_badge.value.icon != blank %}
                <img src="{{ product.metafields.custom.callout_badge.value.icon | img_url }}" class="badge-icon" />
            {% endif %}
            </span>
            <span class="text-badge">{{product.metafields.custom.callout_badge.value.text}}</span>
        </span>
    </div>
{%endif%}