.template--product {

    product-gallery{
        position: sticky;
        top: 109px;
    }
    // cass for member hide 2 and 3 
    .product.product-for-member {
        custom-options {
            div[data-smartrr-selling-plan-groups] {

                div[data-smartrr-selling-plan-group-id]:nth-child(3),
                div[data-smartrr-selling-plan-group-id]:nth-child(4) {
                    display: none;
                }

                div[data-smartrr-selling-plan-group-id]:nth-child(1) {
                    div[data-smartrr-price-style] {
                        span[data-smartrr-compare-price] {
                            display: initial;
                            order: 1;
                        }

                        span[data-smartrr-subscribe-price] {
                            color: #E93B40;
                        }
                    }
                }

            }
        }
    }

    // cass for member hide 1
    .product:not(.product-for-member) {
        custom-options {
            div[data-smartrr-selling-plan-groups] {
                div[data-smartrr-selling-plan-group-id]:nth-child(2) {
                    display: none;
                }

                div[data-smartrr-selling-plan-group-id]:nth-child(1) {
                    div[data-smartrr-price-style] {
                        .data-smartrr-subscribe-price {
                            display: none;
                        }
                    }
                }
            }
        }
    }
    .shopify-app-block{
        margin-top: 28px;
        margin-bottom: 28px;
    }
    .product.cart-has-membership {
        custom-options {
            div[data-smartrr-selling-plan-groups] {
                div[data-smartrr-selling-plan-group-id]:nth-child(4) {
                    display: none;
                }
            }
        }

        .offer {
            display: none;
        }
    }

    //smartrr options
    .smartrr-purchase-options {
        .smartrr-title {
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            color: #000000;
            margin-bottom: 12px;
        }

        div[data-smartrr-selling-plan-groups] {
            display: flex;
            flex-direction: column;
            row-gap: 10px;

            div[data-smartrr-selling-plan-group-id].smartrr-group-active {
                background: rgba(233, 59, 64, 0.1);
                border: 1px solid #E93B40;
                border-radius: 10px;
                // .smartrr-pills-header{
                //     color: black !important;
                // }
            }

            //Set price color regular price for upper second
            div[data-smartrr-selling-plan-group-id]:not(:first-child) {
                div[data-smartrr-price-style] {
                    span[data-smartrr-subscribe-price] {
                        color: #E93B40;
                    }
                }
            }

            div[data-smartrr-price-style] {
                span[data-smartrr-regular-price] {
                    color: inherit;
                }
            }

            //this for label
            .data-smartrr-subscribe-price {
                color: #E93B40;
            }

            div[data-smartrr-selling-plan-group-id] {
                background-color: white;
                padding: 16px 18px 16px 14px;
                border: 1px solid #ADADAD;
                border-radius: 10px;
                position: relative;

                .smartrr-badge-item {
                    position: absolute;
                    top: 16px;
                    right: 19px;
                    background: #353435;
                    border-radius: 10px;
                    padding-top: 3px;
                    padding-bottom: 3px;
                    display: flex;
                    align-items: center;
                    padding-left: 7px;
                    padding-right: 7px;
                    font-family: 'United Sans SemiCond';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 16px;
                    color: #FFFFFF;
                }

                .smartrr-selling-plan-group-header {
                    .smartrr-selling-plan-group-label {
                        display: flex;
                        align-items: start;
                        column-gap: 16px;


                        input[type="radio"] {
                            display: initial;
                            appearance: none;
                            background-color: #fff;
                            margin: 0;
                            font: inherit;
                            color: currentColor;
                            width: 24px;
                            height: 24px;
                            border: 2px solid #E93B40;
                            border-radius: 50%;
                            flex: 0 0 24px;
                        }

                        input[type="radio"]:checked {
                            background: radial-gradient(#E93B40 0%, #E93B40 50%, transparent 60%, transparent);
                        }


                        .smartrr-pills-header {
                            margin: 0px;
                            flex: 1;
                            padding: 0px;
                            border: none;
                            background: none;
                            flex-direction: column;
                            row-gap: 7px;
                            color: #353435;
                            font-style: normal;
                            font-weight: 600;
                            font-size: 18px;
                            line-height: 22px;

                            .smartrr-pricing-dash {
                                display: none;
                            }

                            div[data-smartrr-price-style] {
                                display: flex;
                                column-gap: 18px;
                                font-weight: 500;
                                font-size: 20px;
                                line-height: 24px;
                                flex-direction: row-reverse;
                                justify-content: flex-end;
                                flex-wrap: wrap;

                                span[data-smartrr-subscribe-price],
                                .data-smartrr-subscribe-price {
                                    //color: #E93B40 ;
                                }

                                .data-smartrr-subscribe-price {
                                    margin-left: -11px;
                                }
                            }
                        }
                    }
                }

                div[data-smartrr-selling-plan-group-contents] {
                    div[data-smartrr-selling-plan-group-plans] {
                        margin-top: 14px;
                        padding-top: 16px;
                        padding-left: 13px;
                        padding-right: 13px;
                        padding-bottom: 10px;
                        border-top: 1px solid #ADADAD;

                        .smartrr-pills-header {
                            margin: 0px;
                        }
                    }
                }

                div[data-smartrr-selling-plans-select] {
                    background: transparent;
                    color: inherit;
                    padding: 0px;
                    border: none;

                    .content_inner {
                        .label_content {
                            font-size: 16px;
                            line-height: 19px;
                            margin-bottom: 11px;
                        }

                        ul {
                            display: flex;
                            flex-direction: column;
                            row-gap: 12px;

                            li {
                                display: block;
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 18px;
                                background-image: url('https://cdn.shopify.com/s/files/1/0574/3450/5404/files/Group_4958.png?v=1685801260');
                                background-size: 17px;
                                /* Adjust to match the size of your SVG icon */
                                background-position: left center;
                                /* Adjust the position as needed */
                                padding-left: 30px;
                                background-repeat: no-repeat;
                            }
                        }
                    }
                }
            }
        }
    }


    //product info 
    .product-info {
        .product-info__title {
            font-family: 'Clan Pro';
            font-style: italic;
            font-weight: 900;
            font-size: 48px;
            line-height: 61px;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: #000000;
        }

        //product price with rating
        .product-price_with_rating {
            margin-top: 13px;
            margin-bottom: 21px;
            display: flex;
            justify-content: space-between;

            div[data-smartrr-product-id] {
                display: inherit;

                span {
                    font-family: 'United Sans SemiCond';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 24px;
                }
            }

            .jdgm-prev-badge {
                display: flex !important;
                column-gap: 11px;
            }
        }

        //product ttext
        .product-info__text {
            font-style: normal;
            font-weight: 500;
            font-size: 17px;
            margin: 0px;

            .metafield-rich_text_field {
                margin-top: 20px !important;
                ul {
                    margin-top: 17px;
                    li {
                        display: block;
                        line-height: 18px;
                        background-image: url('https://cdn.shopify.com/s/files/1/0574/3450/5404/files/Group_4958.png?v=1685801260');
                        background-size: 17px;
                        /* Adjust to match the size of your SVG icon */
                        background-position: left center;
                        /* Adjust the position as needed */
                        padding-left: 27px;
                        background-repeat: no-repeat;
                    }
                }
            }
        }

        //quantty selector with buy button
        .buy_button_container{
            display: flex;
            column-gap: 22px;
            margin-bottom: 0px;
            .product-info__quantity-selector{
                flex: 0 0 142px;
            }
            .product-info__buy-buttons{
                flex: 1;
                buy-buttons{
                    button{
                        font-family: 'United Sans SemiCond';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 24px;
                        line-height: 24px;
                        text-transform: uppercase;
                        letter-spacing: 0.02em;
                        padding-top: 14px;
                        padding-bottom: 10px;
                        height: 57px;
                    }
                }
            }
            .quantity-selector{
                background-color: white;
                border-color: #ADADAD;
                height: 57px;
                .quantity-selector__button{
                    padding-inline-start: 14px;
                    padding-inline-end: 14px;
                    svg{
                        width: 8px;
                        height: 8px;
                    }
                }
                .quantity-selector__input{
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 19px;
                }
            }
        }
    }
    .product__icon__row{
        display: flex;
        flex-flow: row wrap;
        margin-top: 16px;
        margin-bottom: 16px;
        .product__icon__container:nth-child(1){
            column-gap: 8px;
        }
        .product__icon__container:nth-child(2){
            column-gap: 16px;
        }
        .product__icon__container{
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 0 0 50%;
            max-width: 50%;
            .product__icon__text{
                p{
                    margin: 0px;
                    font-weight: 500;
                    font-size: 17px;
                    line-height: 20px;
                }
            }
        }
    }
}
