cart-drawer{
    .cart-drawer__top{
        padding-bottom: 18px;
        margin-bottom: 23px;
        border-bottom: 1px solid #ADADAD;
        p{
            font-family: 'United Sans SemiCond';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 24px;
        }
    }

    &::part(footer){
        border: none !important;
    }
    .subscription--price{
        font-style: italic;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #E93B40;
        margin-top: 7px;
    }
    .total-footer-section{
        margin-inline-start: calc(-1 * var(--container-outer-width));
        margin-inline-end: calc(-1 * var(--container-outer-width));
        padding: var(--drawer-footer-padding);
        padding-top: 18px;
        padding-bottom: 0px;
        border-top: 1px solid #D6D6D6;
    }
}