cart-drawer.membership-in-cart{
    .add-membership-cart,.subscription--price.without-saving{
        display: none;
    }
}
cart-drawer.cart-for-members{
    .add-membership-cart,.subscription--price.without-saving{
        display: none;
    }
    .subscription--price.with-saving{
        display: flex !important;
    }
}

cart-drawer{
    // @media only screen and (max-width: 700px) {
    //     --drawer-body-padding: 20px !important;
    //     --drawer-footer-padding: 20px !important;
    // }
    .cart-drawer__line-items > * + *{
        @media only screen and (min-width: 700px) {
            padding-block-start: 14px
        }
    }
    @media only screen and (min-width: 700px) {
            --drawer-footer-padding: 15px 2.5rem 20px 2.5rem !important;
    }
    .cart-drawer__top{
        padding-bottom: 18px;
        margin-bottom: 23px;
        border-bottom: 1px solid #ADADAD;
        p{
            font-family: 'United Sans SemiCond';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 24px;
        }
    }

    // &::part(footer){
    //     border: none !important;
    // }
    .subscription--price{
        font-style: italic;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #E93B40;
        margin-top: 7px;
    }
    .subscription--price.with-saving{
        display: none;
    }
    .total-footer-section{
        margin-inline-start: calc(-1 * var(--container-outer-width));
        margin-inline-end: calc(-1 * var(--container-outer-width));
        padding: var(--drawer-footer-padding);
        padding-top: 18px;
        padding-bottom: 0px;
        border-top: 1px solid #D6D6D6;
    }
    .add-membership-cart{
        @media only screen and (max-width: 700px) {
            margin-bottom: 7px;
        }
        margin-left: -3px;
        margin-right: -3px;
        .horizontal-product{
            @media only screen and (max-width: 699px) {
                padding: 14px;
                column-gap: 13px;
            }
            @media only screen and (min-width: 700px) {
                padding: 10px 15px 10px 17px;
                column-gap: 31px;
            }
            
            @media only screen and (max-width: 700px) {
                .horizontal-product__image {
                    width: 54px;
                    flex: 0 0 54px;
                }
            }
        .horizontal-product__info{
            display: flex;
            align-self: center;
            .text-membership-with-price{
                font-weight: 500;
                font-size: 14px;
                line-height: 17px;
                color: #FFFFFF;
                letter-spacing: 0px;
                @media only screen and (min-width: 700px) {
                    font-size: 20px;
                    line-height: 24px;
                }
                .specialize-price{
                    color: #FF6266;
                    font-style: italic;
                }
                    .second-line-text{
                        display: block;
                    }
            }
        .horizontal-product__cta{
            display: flex;
            align-items: center;
            margin-right: 0px;
            button{
                width: 72.97px;
                height: 37px;
                font-weight: 700;
                font-size: 16px;
                line-height: 19px;
                padding: 4px;
            }
        }
    }
    }
    }
}