bubbles-container{
    top: -1px;
    position: relative;
    .tab-header {
        display: flex;
        background-color: white;
      
      .tab-item {
        padding: 5px 10px;
        cursor: pointer;
        background-color: #f0f0f0;
        margin-right: 10px;
        height: 43px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 18px;
        text-transform: uppercase;
        color: #000000;
        border-radius: 21.5px 21.5px 0px 0px;
        background: rgba(246, 246, 247, 0.5);
        margin: 0px;
        width: 50%;
      }
      
      .tab-item.active {
        background-color: #ECEDEE
      }
    }

    .bubbles-inner{
        position: relative;
        display: flex;
        column-gap: 20px;
        padding-left: 14px;
        padding-right: 14px;
        padding-top: 19px;
        padding-bottom: 13px;
        background-color: #ECEDEE;
        overflow-x: scroll;
        // &::-webkit-scrollbar {
        //     display: none;
        // }
        .bubble {
            padding: 0px;
            width: 71px;
            a{
                width: 71px;
                display: block;
            }
            .bubble_image_container{
                position: relative;
                border: 3px solid transparent;
                background-image: linear-gradient(white,white),radial-gradient(circle at top left,#141414,#7b7b7b);
                background-origin: border-box;
                background-clip: content-box,border-box;
                border-radius: 50px;
                img{
                    width: 65px;
                    height: 65px;
                    border-radius: 50px;
                    display: block;
                    object-fit: cover;
                    border:2px solid #f3f3f3;
                }
        }
        h3{
            margin-top: 7px;
            display: block;
            text-align: center;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 14px;
            color: #000000;
        }
        }
    }
}

//judgme widget
.judge_me_widget_container{
        background-color: #353435;
        color: white;
        .jdgm-all-reviews-text__text{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            padding-top: 9px;
            padding-bottom: 9px;
            padding-left: 4px;
            padding-right: 4px;
            color: white;
            text-align: center;
            display: block;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
}

.hero-section-wtih-bubble{
    .prose{
        .button--secondary{
            margin-left: 15px;
        }
    }
    @media only screen and (max-width: 699px){
        .prose{
            color: #1A191C;
            .button{
                width: 100%;
                max-width: 450px;
            }
            .button--secondary{
                display: none;
            }
        }
        .text-custom{
            grid-area: 5 / 2 / auto / span 1;
        }
        .content-over-media{
            &::before{
                display: none;
            }
        }
    }
}
  