.shopify-section--multi-column-v2{
    //multi column scroll on mobile
    .multi-column{
        @media only screen and (max-width: 699px){
            --multi-column-grid: auto / auto-flow 78vw;
        }
        @media screen and (min-width: 1000px){
            display: flex;
            overflow: visible;
            gap: 30px;
        }
    }

    //desing the new colmun items
    .multi-column__item{
        padding-inline: 22px;
        padding-block-start:20px;
        padding-block-end: 22px;
        border-radius: 20px;
        border: 1px solid #000;
        background: #353434;
        @media screen and (min-width: 1000px){
            margin-right: 0px !important;
        }
        

        @media screen and (min-width: 1000px){
            row-gap: 41px;
            padding-inline: 29px;
            padding-block-start:27px;
            padding-block-end: 38px;
        }
        .v-stack.gap-4{
            //row-gap: 23px;
            p.h4{
                color: #FFF;
                // font-size: 32px;
                // font-weight: 700;
            }
            .prose{
                p{
                    color: #FFF;
                }
            }
        }
    }


    //working on swiper pagination
    .swiper-pagination {
        margin-top: 25px;
        position: relative;
        // .swiper-pagination-bullet:not(.swiper-pagination-bullet-active-main){
        //     display: none;
        // }
        .swiper-pagination-bullet{
            height: 12px;
            width: 12px;
            aspect-ratio: 1;
            border-color: #353434;
            margin-inline: 10px;
            border: 1px solid;
            opacity: 1;
            background-color: transparent;
            transform: scale(1);
            &.swiper-pagination-bullet-active{
                background-color: #353434;
                border-color: #353434;
            }
        }
        .swiper-pagination-bullet-active-next-next,.swiper-pagination-bullet-active-prev-prev,.swiper-pagination-bullet-active-prev,.swiper-pagination-bullet-active-next{
            opacity: 0;
        }
        @media screen and (max-width: 999px){
            display: none;
        }
    }
    .swiper-navigation__button{
        z-index: 1;
        width: 47px;
        height: 47px;
        top: 55%;
        &::after{
            display: none;
        }
        @media screen and (max-width: 999px){
            display: none;
        }
    }
    .swiper-button-next{
        right: -24px;
    }
    .swiper-button-prev{
        left: -24px;
    }
    .swipper__inner{
        position: relative;
    }
}