.timeline-container{
    display: flex;
    flex-direction: column;
    gap: 45px;
    position: relative;
    @media screen and (max-width: 768px){
        gap: 50px;
        margin-top: 32px;
    }
    .timeline-item{
        display: flex;
        align-items: flex-start;
        gap: 40px;
        @media screen and (max-width: 768px){
            gap: 30px;
            align-items: flex-start;
        }
        img{
            flex:0 0 110px;
            max-width: 110px;
            z-index: 9;
            @media screen and (max-width: 768px){
                flex:0 0 80px;
                max-width: 80px;
            }

        }
        .heading{
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin-bottom: 9px;
            @media screen and (max-width: 768px){
                font-size: 24px;
                margin-bottom: 9px;
            }
        }
        .content{
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            @media screen and (max-width: 768px){
                font-size: 17px;
            }
        }
    }
    .timeline-item::before {
        content: '';
        position: absolute;
        left: calc(110px / 2);
        top: 10px;
        bottom: 0;
        height: 90%;
        width: 3px;
        background-color: #EF3740; // Adjust the color as needed
        transform: translateX(-50%);
        @media screen and (max-width: 768px){
            left: calc(80px / 2);
        }
    }
}

.section_timeline_container{
    .multi-column {
        @media screen and (max-width: 768px){
            gap: 22px;
        }
    }
    
    .footer-content{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 50px;
        .button{
            padding-inline: 130px;
        }
        @media screen and (max-width: 768px){
            padding-top: 20px;
            gap: 20px;
            .button{
                padding-inline: 50px;
                width: 80%;
                max-width: 360px;
            }
        }
    }
}

.section_timeline_container{
    .multi-column__item{
        img{
            overflow: visible;
        }
    }
    .section-header{
        gap:20px;
        .subheading{
            font-size: 20px;
            color: #ADADAD;
            @media screen and (max-width: 768px){
                font-size: 17px;
            }
        }
        .heading{
            margin-top: 20px;
            @media screen and (max-width: 768px){
                margin-top: 16px;
            }
        }
        .content{
            margin-top: 0px;
            p{
                margin-top: 20px;
                font-size: 20px;
                @media screen and (max-width: 768px){
                    font-size: 17px;
                    margin-top: 16px;
                }
            }
        }
    }

}