@import "./component/Hero-image-with-bubbles.scss";
@import "./component/product-item.scss";
@import "./component/marker-animated.scss";
@import "./component/menu-drawer.scss";
@import "./component/mega-menu.scss";

//base vertically
@media only screen and (max-width: 699px){
    .bleed {
        padding-inline-start: 16px;
        padding-inline-end: 16px;
    }
    .container{
        margin-left: 16px;
        margin-right: 16px;
    }
}

@media screen and (max-width: 699px) {
    .scrolled{
        background-color: white;
    }
}